<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>PlantNFC</string>
    <key>CFBundleDisplayName</key>
    <string>PlantNFC</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NFCReaderUsageDescription</key>
    <string>PlantNFC leest NFC-tags om uw planten te identificeren en bij te houden wanneer ze water hebben gehad.</string>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.plantnfc.refresh</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>processing</string>
    </array>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
</dict>
</plist>
